<div class="container">
 
  <header>
     <h2><a href="/"><i class="ion-plane"></i>oTravelTo</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/locations" title="Locations"> Locations</a>
        </li>
        <li>
          <a href="/activities" title="Activities">Activities</a>
        </li>
        <li>
          <a href="/users" title="Profile">Username</a>
        </li>
        <li>
          <a class="btn" href="/userlogin" title="Register / Log In">Register/Log In</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <h1>Places You Visited </h1>
  </section>

  <section class="gallery">
    <ul>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/hnEtVqVlVZU">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/RPzWI0rolS8">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/i1S4n4yQUKM">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/QgHvLSuIcLs">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/s74-lwoDFOw">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
      <li class="item">
        <div class="info">
          <a href="#" title="{{location}}">
            <img src="https://source.unsplash.com/KTTG3Jcrfz4">
          </a>
          <h3>{{location}}</h3>
          <p>{{description}}</p>
        </div>
      </li>
    </ul>
  </section>

  <footer>
  
  </footer>

</div>